{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div class="blurred-box">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="user-login-box">
                <span class="user-icon"></span>
                <div class="user-name">张罗文</div>
                <form method="post">
                    <input type="email" id="inputEmail" class="user-password" name="email" value="{{ last_username }}"
                           placeholder="email"
                           required autofocus>
                    <input class="user-password" type="password" name="password" id="inputPassword"
                           placeholder="Password"
                           required autofocus>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </form>
            </div>
        </div>


{% endblock %}
